@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
    --spacing-100: 25rem; 
  --z-100: 100;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #1e1e24; 
  border-radius: 10px;
  border: 2px solid var(--background);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* Mavi renk */
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1e1e24 var(--background);
}